//  Importo funzioni di Bootstrap
@import "./scss/functions";

//  Importo variabili di Bootstrap
@import "./scss/variables";

//  Creo la mia mappa personalizzata dei font-size
$custom-font-sizes: (
  7: 0.875rem,
  8: 0.75rem,
  9: 0.625rem,
  10: 0.5rem,
);

//  Merge con la mappa originale di Bootstrap
$font-sizes: map-merge($font-sizes, $custom-font-sizes);

// Estendo i border-width Bootstrap fino a .border-10
$custom-border-widths: (
  6: 6px,
  7: 7px,
  8: 8px,
  9: 9px,
  10: 10px,
);

$border-widths: map-merge($border-widths, $custom-border-widths);

// Button default padding
$btn-padding-y: 0.75rem;
$btn-padding-x: 2.5rem;

// Gutter default
$grid-gutter-width: 0.5rem;

// Default cards style
$card-bg: $dark;
$card-color: $info;
$card-border-radius: 2rem;

// Border-radius stile pillola per bottoni, badge e input
$btn-border-radius: 10rem;
$badge-border-radius: 10rem;
$input-border-radius: 10rem;

//  Colors
$custom-theme-colors: (
  "danger": #ff0077,
  "info": #00ffea,
  "light": #f3eeff,
  "epicode-1": #5726c3,
  "epicode-2": #8625a5,
  "epicode-3": #cb2376,
);

// Merge unico
$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// Nuovi breakpoints
$custom-grid-breakpoints: (
  3xl: 1600px,
  4xl: 1800px,
);

$grid-breakpoints: map-merge($grid-breakpoints, $custom-grid-breakpoints);

// Max-width dei nuovi breakpoints
$custom-container-max-widths: (
  3xl: 1520px,
  4xl: 1720px,
);

$container-max-widths: map-merge(
  $container-max-widths,
  $custom-container-max-widths
);

@import "./scss/bootstrap.scss";
